{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <link type="image/vnd.microsoft.icon" href="/static/img/favicon.ico.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width">
    <title>HealthyHome</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/healthyhome.css" %}">
    <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

    {% block added_js %}{% endblock %}

</head>
<body>

<div class="row">
    <div class="large-12 columns">
        <h2> <img src="/static/img/acorn_logo.png" width="50" height="50" alt="ACORN CANADA logo" />
            Healthyhome
            </h2>
        <nav class="breadcrumbs">
            <a href="/">Home</a>
            <a href="/report/">Report</a>
            <a href="/building/1">Buildings</a>
        </nav>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        {% block content %}{% endblock %}
    </div>
</div>

<script>
    document.write('<script src=' +
            ('__proto__' in {} ?
                    '{% static "js/vendor/zepto" %}' :
                    '{% static "js/vendor/jquery" %}') + '.js><\/script>')
</script>

<script src="{% static "js/foundation.min.js" %}"></script>
<!--

<script src="{% static "js/foundation/foundation.js" %}"></script>

<script src="{% static "js/foundation/foundation.interchange.js" %}"></script>

<script src="{% static "js/foundation/foundation.abide.js" %}"></script>

<script src="{% static "js/foundation/foundation.dropdown.js" %}"></script>

<script src="{% static "js/foundation/foundation.placeholder.js" %}"></script>

<script src="{% static "js/foundation/foundation.forms.js" %}"></script>

<script src="{% static "js/foundation/foundation.alerts.js" %}"></script>

<script src="{% static "js/foundation/foundation.magellan.js" %}"></script>

<script src="{% static "js/foundation/foundation.reveal.js" %}"></script>

<script src="{% static "js/foundation/foundation.tooltips.js" %}"></script>

<script src="{% static "js/foundation/foundation.clearing.js" %}"></script>

<script src="{% static "js/foundation/foundation.cookie.js" %}"></script>

<script src="{% static "js/foundation/foundation.joyride.js" %}"></script>

<script src="{% static "js/foundation/foundation.orbit.js" %}"></script>

<script src="{% static "js/foundation/foundation.section.js" %}"></script>

<script src="{% static "js/foundation/foundation.topbar.js" %}"></script>

-->

<script>
    $(document).foundation();
</script>
</body>


</html>
