{% extends "base.html" %}

{% block content %}
    <div class="row">
    <form class="large-6 large-offset-3 columns" action="" method="post">
        <section class="row complaint-address">
            <h3>Where is your home?</h3>
            <div class="row">
                <div class="large-2 columns">
                    <label for="{{ form.address.id_for_label }}" class="right inline">{{ form.address.label }}</label>
                </div>
                <div class="large-10 columns">
                    {{ form.address }}
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <label for="{{ form.city.id_for_label }}" class="right inline">{{ form.city.label }}</label>
                </div>
                <div class="large-10 columns">
                    {{ form.city }}
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <label for="{{ form.province.id_for_label }}" class="right inline">{{ form.province.label }}</label>
                </div>
                <div class="large-10 columns">
                    {{ form.province }}
                </div>
            </div>
        </section>

        <section class="row complaint-types">
            <h3>What problems are you having?</h3>
            <div class="large-6 columns">
                {% for field in form.type %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                {% endfor %}
            </div>
        </section>
    </form>
    </div>
{% endblock %}
